{% extends "layout.html" %}

{% block title %} Home {% endblock %}

{% block stylesheet %}
    <style>
        #signOutBtn {
            display: none;
            cursor: pointer;

        }
        /*#signOutBtn :hover {*/
        /*    cursor: pointer;*/
        /*}*/
    </style>

{% endblock %}


{% block navBarItems %}
<!--    <li class="nav-item"><a class="nav-link active" href="index.html">Home</a></li>-->
<!--    <li class="nav-item"><a class="nav-link" href="index.html">Movies</a></li>-->
<!--    <li class="nav-item"><a class="nav-link" href="index.html">TV Shows</a></li>-->

<!--    <li class="nav-item"></li>-->
<!--    <li class="nav-item"></li>-->

<!--    <li class="nav-item"><a id="loginBtn" href="#loginModal" class="nav-link edit" data-toggle="modal">Login</a></li>-->
<!--    <li class="nav-item"><a id="signUpBtn" href="#signUpModal" class="nav-link edit" data-toggle="modal">Sign Up</a></li>-->
<!--    <li class="nav-item"><a id="signOutBtn" class="nav-link edit" data-toggle="modal">Sign Out</a></li>-->
{% endblock %}


{% block body %}

    <main class="page landing-page">

        <section id="frontPageMovieIMG" class="clean-block clean-hero" style="background-image:url(&quot;static/img/movies/mortal-kombat-2021.jpg&quot);color:rgba(7,7,7,0.85);">
            <div class="text">
                <h2>Read and write reviews for trending movies</h2>
                <p>Sky Ratings is an online moving rating website that allows users review movies worldwide.</p><button class="btn btn-outline-light btn-lg" type="button">Learn More</button>
            </div>
        </section>

        <section class="clean-block features">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Features</h2>
                    <!--                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>-->
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-5 feature-box"><i class="icon-star icon"></i>
                        <h4>Latest</h4>
                        <p>Sky ratings always has the latest info and reviews on upcoming movies.</p>
                    </div>
                    <div class="col-md-5 feature-box"><i class="icon-pencil icon"></i>
                        <h4>Customizable</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
                    </div>
                    <div class="col-md-5 feature-box"><i class="icon-screen-smartphone icon"></i>
                        <h4>Responsive</h4>
                        <p>The UI on Sky Ratings has been designed to be responsive and user friendly.</p>
                    </div>
                    <div class="col-md-5 feature-box"><i class="icon-refresh icon"></i>
                        <h4>All Browser Compatibility</h4>
                        <p>Sky Ratings is compatible on all major browsers.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="clean-block slider dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Trending Movies</h2>
                    <!--                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>-->
                </div>
                <div class="carousel slide" data-ride="carousel" id="carousel-1">
                    <div id="trendingMoviesContainer" class="carousel-inner">
                        <!--                        <div class="carousel-item active"><img class="w-100 d-block" src="https://image.tmdb.org/t/p/original/keIxh0wPr2Ymj0Btjh4gW7JJ89e.jpg" alt="Slide Image"></div>-->
                        <!--                        <div class="carousel-item"><img class="w-100 d-block" src="{{ url_for('static', filename='img/scenery/image4.jpg') }}" alt="Slide Image"></div>-->
                        <!--                        <div class="carousel-item"><img class="w-100 d-block" src="{{ url_for('static', filename='img/scenery/image6.jpg') }}" alt="Slide Image"></div>-->
                    </div>
                    <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-slide="prev"><span class="carousel-control-prev-icon"></span><span class="sr-only">Previous</span></a><a class="carousel-control-next" href="#carousel-1" role="button" data-slide="next"><span class="carousel-control-next-icon"></span><span class="sr-only">Next</span></a></div>
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-1" data-slide-to="1"></li>
                        <li data-target="#carousel-1" data-slide-to="2"></li>
                    </ol>
                </div>
            </div>
        </section>

        <!--        <section class="clean-block clean-info dark">-->
        <!--            <div class="container">-->
        <!--                <div class="block-heading">-->
        <!--                    <h2 class="text-info">Info</h2>-->
        <!--                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>-->
        <!--                </div>-->
        <!--                <div class="row align-items-center">-->
        <!--                    <div class="col-md-6"><img class="img-thumbnail" src="{{ url_for('static', filename = 'img/scenery/image5.jpg') }}"></div>-->
        <!--                    <div class="col-md-6">-->
        <!--                        <h3>Lorem impsum dolor sit amet</h3>-->
        <!--                        <div class="getting-started-info">-->
        <!--                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>-->
        <!--                        </div><button class="btn btn-outline-primary btn-lg" type="button">Join Now</button>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </section>-->

        <section class="clean-block about-us">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">About Us</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
                </div>
                <div class="row justify-content-center">
                    <div class="col-sm-6 col-lg-4">
                        <div class="card text-center clean-card"><img class="card-img-top w-100 d-block" src="{{ url_for('static', filename='img/avatars/avatar1.jpg') }}">
                            <div class="card-body info">
                                <h4 class="card-title">John Smith</h4>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <div class="icons"><a href="#"><i class="icon-social-facebook"></i></a><a href="#"><i class="icon-social-instagram"></i></a><a href="#"><i class="icon-social-twitter"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="card text-center clean-card"><img class="card-img-top w-100 d-block" src="{{ url_for('static', filename='img/avatars/avatar2.jpg') }}">
                            <div class="card-body info">
                                <h4 class="card-title">Robert Downturn</h4>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <div class="icons"><a href="#"><i class="icon-social-facebook"></i></a><a href="#"><i class="icon-social-instagram"></i></a><a href="#"><i class="icon-social-twitter"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="card text-center clean-card"><img class="card-img-top w-100 d-block" src="{{ url_for('static', filename='img/avatars/avatar3.jpg') }}">
                            <div class="card-body info">
                                <h4 class="card-title">Ally Sanders</h4>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <div class="icons"><a href="#"><i class="icon-social-facebook"></i></a><a href="#"><i class="icon-social-instagram"></i></a><a href="#"><i class="icon-social-twitter"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>






{% endblock %}

{% block script %}

    <script>
        class indexUI {
            static populateTrendingMovies() {
                const request = new XMLHttpRequest()
                request.open('GET', '/getTrendingMovies')
                request.onload = () => {
                    const Response = request.responseText
                    if (Response !== 'Something went wrong with the url') {
                        const data = JSON.parse(Response)

                        let trendingMoviesContainer = document.querySelector('#trendingMoviesContainer')
                        const numTrendingMoviesToDisplay = 3

                        for (let i = 0; i < numTrendingMoviesToDisplay; i++) {
                            const imgPath = data['results'][i]['backdrop_path']
                            const imgSRC = `https://image.tmdb.org/t/p/original/${imgPath}`
                            let className
                            if (i === 0)
                                className = 'carousel-item active'
                            else
                                className = 'carousel-item'

                            trendingMoviesContainer.innerHTML += `
                                    <div class="${className}"><img class="w-100 d-block" src=${imgSRC} alt="Slide Image"></div>
                                `
                        }
                    }
                    else {
                        console.log(Response)
                    }
                }
                request.send()
            }

            static updateFrontPageMovieIMG() {
                let frontPageMovieDiv = document.querySelector('#frontPageMovieIMG')

                const request = new XMLHttpRequest()
                request.open('GET', '/getTrendingMovies')
                request.onload = () => {
                    const Response = request.responseText
                    if (Response !== 'Something went wrong with the url') {
                        const data = JSON.parse(Response)
                        // Display The First Trending Movie
                        const imgPath = data['results'][0]['backdrop_path']
                        const imgSRC = `https://image.tmdb.org/t/p/original/${imgPath}`
                        frontPageMovieDiv.style.backgroundImage = `url(${imgSRC})`
                    }
                    else {
                        console.log(Response)
                    }
                }
                request.send()
            }
        }


        document.addEventListener('DOMContentLoaded', () => {
            checkIfUserIsStillLoggedIn()
            indexUI.updateFrontPageMovieIMG()
            indexUI.populateTrendingMovies()

        })



    </script>


    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="{{ url_for('static', filename='js/smoothproducts.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/theme.js') }}"></script>

{% endblock %}
