<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">


    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/simple-line-icons.min.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/smoothproducts.css') }}">

    {% block stylesheet %}
    {% endblock %}

    <style>
        #skyRatingsHeaderBtn {
            /*margin-right: 50%;*/
        }
        #navBarBtn {
            position: relative;
            /*float: right;*/
        }
        .inputLabel {
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-size: 18px;
            font-weight: 500;
        }
        ::placeholder {
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
        /*#signOutBtn :hover {*/
        /*    cursor: pointer;*/
        /*}*/

        @media only screen and (max-width: 990px) {
            #skyRatingsHeaderBtn {
                margin-right: 70%;
            }
        }
        @media only screen and (max-width: 769px) {
            #navBarBtn {
                left: 10%;
            }
            #skyRatingsHeaderBtn {
                margin-right: 50%;
            }

        }
        @media only screen and (max-width: 420px) {
            #navBarBtn {
                left: 8%;
            }
            #skyRatingsHeaderBtn {
                margin-right: 30%;
            }
            .page {
                width: 470px;
            }
            .page-footer {
                width: 470px;
            }
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container"><a id="skyRatingsHeaderBtn" class="navbar-brand logo" href="#">Sky Ratings</a><button id="navBarBtn" data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div id="alertDiv">
                <!--                        <div id="alertMessage" class="alert alert-warning" role="alert">You Are Not Registered</div>-->
            </div>


            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a id="homeHeaderBtn" class="nav-link active" href="{{ url_for('index') }}">Home</a></li>
                    <li class="nav-item"><a id="moviesHeaderBtn" class="nav-link" href="{{ url_for('movies') }}">Movies</a></li>
                    <li class="nav-item"><a id="tvShowsHeaderBtn" class="nav-link" href="#">TV Shows</a></li>

                    <li class="nav-item"></li>
                    <li class="nav-item"></li>

                    <li class="nav-item"><a id="loginBtn" href="#loginModal" class="nav-link edit" data-toggle="modal">Login</a></li>
                    <li class="nav-item"><a id="signUpBtn" href="#signUpModal" class="nav-link edit" data-toggle="modal">Sign Up</a></li>
                    <li class="nav-item"><a id="signOutBtn" class="nav-link edit" data-toggle="modal">Sign Out</a></li>
                    {% block navBarItems %}
                    {% endblock %}
                </ul>
            </div>
        </div>
    </nav>

    <!-- MODAL BOXES  -->

    <!-- LOGIN MODAL -->
    <div id="loginModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="loginForm">
                    <!-- HEADER -->
                    <div class="modal-header">
                        <h4 class="modal-title">Login</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <!-- BODY -->
                    <div class="modal-body">
                        <!-- USERNAME -->
                        <div class="form-group">
                            <label class="inputLabel" for="userNameInput">Username</label>
                            <input id="userNameInput" class="form-control" autocomplete="off">
                        </div>
                        <!-- USER PASSWORD -->
                        <div class="form-group">
                            <label class="inputLabel" for="userPasswordInput">Password</label>
                            <input id="userPasswordInput" class="form-control" autocomplete="off" type="password">
                        </div>
                        <p id="loginModalErrorMessage" class="text-warning"></p>
                    </div>
                    <!-- LOGIN AND CANCEL BUTTON -->
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" id="loginModalCancelBtn" data-dismiss="modal" value="Cancel">
                        <button id="loginModalBtn" class="btn btn-primary" type="button" disabled>Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- SIGN UP MODAL -->
    <div id="signUpModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="signUpForm">
                    <!-- HEADER -->
                    <div class="modal-header">
                        <h4 class="modal-title">Sign Up</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <!-- BODY -->
                    <div class="modal-body">
                        <!-- USERNAME -->
                        <div class="form-group">
                            <label class="inputLabel" for="signUpUserNameInput">Username</label>
                            <input id="signUpUserNameInput" class="form-control" autocomplete="off">
                        </div>
                        <!-- EMAIL -->
                        <div class="form-group">
                            <label class="inputLabel" for="signUpUserEmailInput">Email</label>
                            <input id="signUpUserEmailInput" class="form-control" autocomplete="off">
                        </div>
                        <p class="text-warning"><small></small></p>
                        <!-- USER PASSWORD -->
                        <div class="form-group">
                            <label class="inputLabel" for="signUpUserPasswordInput">Password</label>
                            <input id="signUpUserPasswordInput" class="form-control" autocomplete="off" type="password">
                        </div>
                        <!-- CONFIRM PASSWORD -->
                        <div class="form-group">
                            <label class="inputLabel" for="signUpConfirmPasswordInput">Confirm Password</label>
                            <input id="signUpConfirmPasswordInput" class="form-control" autocomplete="off" type="password">
                        </div>
                        <p id="signUpModalErrorMessage" class="text-warning"></p>
                    </div>
                    <!-- SAVE AND CANCEL BUTTON -->
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" id="signUpModalCancelBtn" data-dismiss="modal" value="Cancel">
                        <button id="signUpModalBtn" class="btn btn-primary" type="button" disabled>Sign Up</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% block body %}
    {% endblock %}
    <footer class="page-footer dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h5>Get started</h5>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Sign up</a></li>
                        <li><a href="#">Downloads</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>About us</h5>
                    <ul>
                        <li><a href="#">Company Information</a></li>
                        <li><a href="#">Contact us</a></li>
                        <li><a href="#">Reviews</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Support</h5>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Help desk</a></li>
                        <li><a href="#">Forums</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Legal</h5>
                    <ul>
                        <li><a href="#">Terms of Service</a></li>
                        <li><a href="#">Terms of Use</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <!--            <p>© 2021 Copyright Text</p>-->
            <p>This product uses the TMDb API but is not endorsed or certified by TMDb.</p>
        </div>
    </footer>

    <script>
        class UI {
            static userLoggedIn() {
                let loginBtn = document.querySelector('#loginBtn')
                let signUpBtn = document.querySelector('#signUpBtn')
                let signOutBtn = document.querySelector('#signOutBtn')

                // Hide login and sign-up btn
                loginBtn.style.display = 'none'
                signUpBtn.style.display = 'none'
                // Show signOutBtn btn
                signOutBtn.style.display = 'block'
            }

            static userSignedOut() {
                let loginBtn = document.querySelector('#loginBtn')
                let signUpBtn = document.querySelector('#signUpBtn')
                let signOutBtn = document.querySelector('#signOutBtn')

                // Show login and sign-up btn
                loginBtn.style.display = 'block'
                signUpBtn.style.display = 'block'
                // Hide signOutBtn
                signOutBtn.style.display = 'none'
            }
        }

        document.addEventListener('DOMContentLoaded', () => {
            checkIfUserIsStillLoggedIn()

        })

        /* ON-CLICK EVENTS */



        // Login Btn
        document.querySelector('#loginModalBtn').addEventListener('click', () => {
            let username = document.querySelector('#userNameInput').value
            let user_password = document.querySelector('#userPasswordInput').value
            let loginModalErrorMessage = document.querySelector('#loginModalErrorMessage')
            let cancelBtn = document.querySelector('#loginModalCancelBtn')


            const request = new XMLHttpRequest()
            request.open('POST', `/loginUser/${username}/${user_password}`)
            request.onload = () => {
                const Response = request.responseText
                if (Response === 'Logged In') {
                    cancelBtn.click()
                    UI.userLoggedIn()
                    showAlert('Logged In', 'primary')

                }
                else if (Response === 'Invalid Credentials') {
                    loginModalErrorMessage.textContent = 'Invalid Credentials'
                    setTimeout(() => {
                        loginModalErrorMessage.textContent = ''
                    }, 2000)

                }
            }
            request.send()
        })

        // Sign-Up Btn
        document.querySelector('#signUpModalBtn').addEventListener('click', () => {
            let username = document.querySelector('#signUpUserNameInput').value
            let user_email = document.querySelector('#signUpUserEmailInput').value
            let user_password = document.querySelector('#signUpUserPasswordInput').value
            let cancelBtn = document.querySelector('#signUpModalCancelBtn')
            let signUpModalErrorMessages = document.querySelector('#signUpModalErrorMessage')

            const request = new XMLHttpRequest()

            request.open('POST', `/signUpUser/${username}/${user_email}/${user_password}`)
            request.onload = () => {
                const Response = request.responseText
                if (Response === 'Signed Up') {
                    cancelBtn.click()
                    UI.userLoggedIn()
                }
                else if (Response === 'User Already Signed Up') {
                    signUpModalErrorMessages.textContent = 'You Have Already Signed Up'
                    setTimeout(() => {
                        signUpModalErrorMessages.textContent = ''
                    }, 2000)
                }


            }
            request.send()

        })

        // Sign-Out Btn
        document.querySelector('#signOutBtn').addEventListener('click', () => {
            UI.userSignedOut()
            const request = new XMLHttpRequest()
            request.open('POST', `/signOut`)
            request.onload = () => {
                showAlert('Signed Out', 'danger')
            }
            request.send()
        })

        /* VALIDATE LOGIN FORM */
        document.querySelector('#loginForm').addEventListener('keyup', () => {
            let userNameInput = document.querySelector('#userNameInput')
            let userPasswordInput = document.querySelector('#signUpUserPasswordInput')
            let loginBtn = document.querySelector('#loginModalBtn')

            if (userNameInput.value !== '' && userPasswordInput.value !== '') {
                loginBtn.disabled = false
            }
            else {
                loginBtn.disabled = true
            }
        })
        /* VALIDATE SIGN-UP FORM */
        document.querySelector('#signUpForm').addEventListener('keyup', () => {
            let userNameInput = document.querySelector('#signUpUserNameInput')
            let userEmailInput = document.querySelector('#signUpUserEmailInput')
            let userPasswordInput = document.querySelector('#signUpUserPasswordInput')
            let confirmUserPasswordInput = document.querySelector('#signUpConfirmPasswordInput')
            let signUpBtn = document.querySelector('#signUpModalBtn')

            passwordsMatch = true
            if (userPasswordInput.value !== confirmUserPasswordInput.value) {
                passwordsMatch = false
            }
            else {
                passwordsMatch = true
            }

            if (!(passwordsMatch) && confirmUserPasswordInput.value !== '') {
                confirmUserPasswordInput.style.borderColor = 'red'
            }
            else {
                confirmUserPasswordInput.style.borderColor = ''
            }

            if (userNameInput.value !== '' && userEmailInput.value !== '' && passwordsMatch) {
                signUpBtn.disabled = false
            }
            else {
                signUpBtn.disabled = true
            }

        })



        // Show alert
        function showAlert(alertText, type) {
            if (type === undefined || !(['primary', 'warning', 'danger', 'success'].includes(type))) {
                type = 'primary'
            }
            // Create alert div
            const alertDiv = document.createElement('div')
            alertDiv.role = 'alert'
            alertDiv.className = `alert alert-${type}`
            alertDiv.id = 'alertMessage'
            alertDiv.style.borderRadius = '10px'
            alertDiv.style.margin = '0'
            alertDiv.textContent = alertText
            if (type === 'danger') {
                // alertDiv.style.backgroundColor = 'rgb(209,13,13)'
            }
            if (type === 'primary') {
                // alertDiv.style.backgroundColor = 'rgb(80, 113, 213)'
            }
            if (type === 'success') {
                // alertDiv.style.backgroundColor = 'rgb(76, 180, 40)'
            }
            if (type === 'warning') {
                // alertDiv.style.backgroundColor = 'rgb(227, 148, 16)'
            }

            // Add alert to page
            document.querySelector('#alertDiv').appendChild(alertDiv)

            // Remove alert
            setTimeout(()=>{alertDiv.remove()}, 2000)
        }

        function checkIfUserIsStillLoggedIn() {
            const request = new XMLHttpRequest()

            request.open('GET', `/checkIfUserIsStillLoggedIn`)
            request.onload = () =>{
                const Response = JSON.parse(request.responseText)
                if (Response === true) {
                    UI.userLoggedIn()
                }
                else {
                    UI.userSignedOut()
                }

            }
            request.send()
        }


    </script>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="{{ url_for('static', filename='js/smoothproducts.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/theme.js') }}"></script>
    {% block script %}

    {% endblock %}
</body>
</html>