{% extends "layout.html" %}

{% block title %} Movies {% endblock %}

{% block stylesheet %}
<style>
    #displayMovies {
        background-color: white;
    }
</style>
{% endblock %}

{% block navBarItems %}
{% endblock %}

{% block body %}
<main class="page">
    <section id="displayMovies" class="clean-block">
        <div class="container">
            <br>
            <br>
            <br>
            <br>
            <br>
            <h2>Movies</h2>
        </div>
        <div class="text">

        </div>
    </section>
</main>
{% endblock %}

{% block script %}
{% endblock %}

